<nav class="navbar bg-primary" data-bs-theme="dark">
    <a href="/login" class="for_href">Exit from your account</a>
</nav>
<div class="form-group">
    <h1>Forgot Password</h1>
    {{#if flash.success}}
        <div class="alert alert-success">{{flash.success}}</div>
    {{/if}}
    {{#if flash.error}}
      <div class="alert alert-danger">
        {{flash.error}}
      </div>
    {{/if}}
    </div>
  <form method="POST" action="/forgot-password">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <input type="submit" value="send">
  </form>
</div>